@charset "UTF-8";

header, header > nav {

    flex-flow: column nowrap;
    flex-basis: flex;
}

header > h1 {
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}

header {
    flex-flow: column nowrap;
    align-items: flex-start;
}



